.compareHorizontal * {
  display: inline-block;
  margin-left: 10px;
}

.homeHorizontal * {
  display: inline-block;
  border-bottom: 1px grey;
}

.homeHorizontal p {
  text-align: left;
}

.outerdiv {
  overflow: auto;
}

.artistH * {
  display: inline-block;
}

.background {
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);


  /* background-color: #007070;
  background-image: linear-gradient(
    180deg,
    #007070 0%,
    #2af5d9 50%,
    #008080 100%
  ); */

  /* background-color: #061e1e;
  background-image: linear-gradient(
    0deg,
    #061e1e 0%,
    #2af5d9 50%,
    #ffffff 100%
  ); */
}

/* .homeHorizontal {
  border: 2px solid green;
} */

/* .compareHorizontal h1 {
  display: inline-block;
  margin-left: 10px;
} */

.every  {
  /* background-color: black; */
  padding: 0px 100px;
  margin-left: 15rem;
} 

.gradient {
  /* standard gradient background */
  background: linear-gradient(#41b6b6, #9e41b6);

  /* clip hackery */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 150px;
}

.title {
  color: blueviolet;
}

.home {
  /* background: linear-gradient(#41b6b6, #9e41b6);

  /* clip hackery */
 /* background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-size: 150px;
  color: black;
}

/* Style the header */
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* background: linear-gradient(#41B6B6, #9E41B6);
    background-clip: text;
    -webkit-text-fill-color: black;
    font-size: 150px;  */
  z-index: 22;
}
