.compareHorizontal * {
  display: inline-block;
  margin-left: 10px;
}

.homeHorizontal * {
  display: inline-block;
  border-bottom: 1px grey;
}

.homeHorizontal p {
  text-align: left;
}


/* .homeHorizontal {
  border: 2px solid green;
} */

/* .compareHorizontal h1 {
  display: inline-block;
  margin-left: 10px;
} */

.gradient {
    /* standard gradient background */
    background: linear-gradient(#41B6B6, #9E41B6);
  
    /* clip hackery */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 150px;
  }

  .title {
      color: blueviolet
  }

  .home {
    background: linear-gradient(#41B6B6, #9E41B6);
  
    /* clip hackery */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 150px;

  }

  /* Style the header */
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}


/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* background: linear-gradient(#41B6B6, #9E41B6);
    background-clip: text;
    -webkit-text-fill-color: black;
    font-size: 150px;  */
  z-index: 22;
}
