.search {
  width: 200px;
  height: 40px;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid #fff;
}

.search input {
  width: 370px;
  padding: 10px 5px;
  float: left;
  color:black;
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;
}

.search input:focus {
  outline: 0;
  background: transparent;
}

.searchIcon {
  position: absolute;
	right: 25px;
}
