.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.flex_parent {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.flex_parent p {
  padding-right: 20px;
}

.section {
  border: 1px solid red;
}

.section_header  {
  width: 100%;
} 

.child {
  width: 50%;
  align-self: flex-start;
}
.child img {
  float: left;
}

.child:nth-last-child(n+3) { 
  margin-bottom: 10px;
}

.card {
  height: 114px;
}

.card:hover {
  height: 114px;
  opacity: 0.5;
}

.card_artist {
  height: 114px;
}

.card_artist:hover {
  height: 114px;
  opacity: 0.5;
}


.card_artist img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.card img {
  width: 100px;
  height: 100px;
}

.search {
  width: 200px;
  height: 40px;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid #fff;
}

.search input {
  width: 370px;
  padding: 10px 5px;
  float: left;
  color:black;
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;
}

.search input:focus {
  outline: 0;
  background: transparent;
}

.searchIcon {
  position: absolute;
	right: 25px;
}
